
@font-face {
    font-family: 'rouble';
    src: url('rouble-webfont.eot');
    src: url('rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('rouble-webfont.woff') format('woff'),
         url('rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.rouble {
	font-family: 'rouble';
	font-weight: normal;
    font-style: normal;
}